@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap');

body {
	font-family: 'Roboto Slab', serif;
	color: #666;
	overflow-x: hidden;
}

img {
	max-width: 100%;
	height: auto;
}

a {
	color: #E7746F;
}

a:hover {
	text-decoration: none;
	color: #999;
}

/* ---------------------------------------------- /*
 * Transition elsements
/* ---------------------------------------------- */


.navbar a{
	-webkit-transition: all 0.4s ease-in-out 0s;
	   -moz-transition: all 0.4s ease-in-out 0s;
		-ms-transition: all 0.4s ease-in-out 0s;
		 -o-transition: all 0.4s ease-in-out 0s;
			transition: all 0.4s ease-in-out 0s;
}

a,
.btn {
	-webkit-transition: all 0.125s ease-in-out 0s;
	   -moz-transition: all 0.125s ease-in-out 0s;
		-ms-transition: all 0.125s ease-in-out 0s;
		 -o-transition: all 0.125s ease-in-out 0s;
			transition: all 0.125s ease-in-out 0s;
}


/* ---------------------------------------------- /*
 * Typography
/* ---------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Slab', serif;
	text-transform: uppercase;
	letter-spacing: 5px;
	margin: 5px 0 5px;
	color: #222;
}

h2 {
	font-size: 30px;
	margin: 0 0 30px;
}

h3 {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 0 5px;
}

h4 {
	font-size: 12px;
	letter-spacing: 1px;
}

h5 {
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 400;
}

h6 {
	font-size: 11px;
	letter-spacing: 1px;
	font-weight: 400;
}



/* ---------------------------------------------- /*
 * General Styles
/* ---------------------------------------------- */

.pfblock {
	padding: 100px 0 100px;
}

.pfblock-gray {
	background: #f5f5f5;
}

.pfblock-image {
	padding: 0;
}

.calltoaction h1,
.calltoaction h2,
.calltoaction h4,
.calltoaction h5,
.calltoaction h6,
.pfblock-image,
.pfblock-image h1,
.pfblock-image h2,
.pfblock-image h3,
.pfblock-image h4,
.pfblock-image h5,
.pfblock-image h6 {
	color: #fff;
	font-weight: bold;
	text-shadow: 0 0 15px #000,
				0 0 25px #000,
				0 0 35px #000;
}
.calltoaction h3{
	color: #000;
	font-weight: bold;
}
.pfblock-header {
	text-align: center;
	margin: 0 0 60px;
}

.pfblock-header-left {
	text-align: left;
}

.pfblock-header-left .pfblock-line {
	width: inherit;
	margin: 30px 0;
}

.pfblock-title{
    font-weight: 800;
}

.pfblock-subtitle {
	font-family: 'Roboto Slab', serif;
	font-style: normal;
	font-size: 18px;
}

.pfblock-line {
	background: rgba(135, 135, 135, 0.5);
	width: 100px;
	height: 1px;
	margin: 30px auto;
}

.pfblock-icon {
	font-size: 32px;
}
.calltoaction *{
    text-align: center;
}
.calltoaction {
    background: url(../images/sec__bg.jpg);
	background-color: #222;
	background-repeat: no-repeat;
	background-position: 0 0;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	padding: 100px 0 50px 0;
	color: #999;
}
.callToAction__box{
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
	height: 250px;
	/* width: 100%; */
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
	-o-transition: .3s all;
}
.iconbox-icon{
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
	-o-transition: .3s all;
}
.iconbox-text{
	transition: .3s all;
	-webkit-transition: .3s all;
	-moz-transition: .3s all;
	-ms-transition: .3s all;
	-o-transition: .3s all;
}
.callToAction__box:hover{
	box-shadow: 4px 4px 40px rgba(0, 0, 0, .3);
}
.callToAction__box:hover .iconbox-icon{
	transform: scale(2);
	-webkit-transform: scale(2);
	-moz-transform: scale(2);
	-ms-transform: scale(2);
	-o-transform: scale(2);
} 
.callToAction__box:hover .iconbox-text{
	padding: 2px;
	transform: translate(0, 2%);
	-webkit-transform: translate(0, 2%);
	-moz-transform: translate(0, 2%);
	-ms-transform: translate(0, 2%);
	-o-transform: translate(0, 2%);
}

.calltoaction h2 {
	font-size: 20px;
	letter-spacing: 1px;
	margin-bottom: 5px;
}
 .calltoaction__h2__2{
	padding-bottom: 50px;
}

.calltoaction-decription{
    padding-top: 20px;
    padding-bottom: 30px;
    font-size: 20px;
    color: #fff;
}

.calltoaction-btn {
	text-align: center;
}

.calltoaction-btn > .btn {
    background: rgba(255, 255, 255, .8);
    color: #111;
	margin-top: 5px;
	margin-bottom: 5px;
}
.calltoaction-btn > .btn:hover{
    background: #fff;
}

.long-down {
	margin-bottom: 40px;
}

/* ---------------------------------------------- /*
 * Home
/* ---------------------------------------------- */

#home {
	background: url('https://static.tildacdn.com/tild3639-6532-4066-b037-313263626434/_2.jpg');
	background-color: #222;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
		 -o-background-size: cover;
			background-size: cover;
	padding: 0;
}

.home-overlay {
    background-color: rgba(44, 62, 80, 0.3);
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.intro {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	text-align: center;
	-webkit-transform: translate(0%, -50%);
	   -moz-transform: translate(0%, -50%);
		-ms-transform: translate(0%, -50%);
		 -o-transform: translate(0%, -50%);
			transform: translate(0%, -50%);
	padding: 0 15px;
}

.intro h1{
	font-weight: 800;
	color: aqua;
}

.start {
	font-family: 'Roboto Slab', serif;
	font-size: 22px;
	font-style: normal;
	text-transform: none;
	margin: 15px 0;
	color: violet;
}
.start>span{
	color: #fff;
}
/* ---------------------------------------------- /*
 * Servise
/* ---------------------------------------------- */

.iconbox {
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
}

.iconbox-icon {
	margin: 0 0 15px;
	font-size: 32px;
	color: #222;
}

.iconbox-title {
	margin: 0 0 15px;
	padding: 0;
}

/* ---------------------------------------------- /*
 * Accordeon
/* ---------------------------------------------- */
.all {
	text-align: center;
  }
  .all input[type="checkbox"] {
	display: none;
  }
  .all input[type="checkbox"]:checked + label {
	background-color: #2980b9;
	color: white;
  }
  .all input[type="checkbox"]:checked + label:before {
	content: 'Барлығын жабу / Закрыть все';
  }
  .all label {
	position: relative;
	margin: 0;
	padding: 5px 30px;
	font-size: 14px;
	font-weight: 300;
	color: #2980b9;
	background-color: white;
	border: 1px solid #2980b9;
	border-radius: 99px;
  }
  .all label:before {
	content: 'Барлығын ашу / Открыть все';
  }
  
  .accordion {
	position: relative;
	width: 80%;
	margin: 50px auto;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  .accordion .trigger #checkbox-1,
  .accordion .trigger #checkbox-2,
  .accordion .trigger #checkbox-3 {
	display: none;
  }
  .accordion .trigger #checkbox-1:checked + label,
  .accordion .trigger #checkbox-2:checked + label,
  .accordion .trigger #checkbox-3:checked + label {
	background-color: slategray;
  }
  .accordion .trigger #checkbox-1:checked + label i:before,
  .accordion .trigger #checkbox-2:checked + label i:before,
  .accordion .trigger #checkbox-3:checked + label i:before {
	transform: translate(5px, 8px) rotate(45deg);
  }
  .accordion .trigger #checkbox-1:checked + label i:after,
  .accordion .trigger #checkbox-2:checked + label i:after,
  .accordion .trigger #checkbox-3:checked + label i:after {
	transform: translate(-5px, 8px) rotate(-45deg);
  }
  .accordion .trigger .checkbox {
	position: relative;
	display: block;
	width: 100%;
	margin: 0;
	padding: 20px;
	color: white;
	cursor: pointer;
	background-color: #434d57;
  }
  .accordion .trigger .checkbox i {
	position: absolute;
	display: inline-block;
	width: 20px;
	height: 20px;
	right: 20px;
  }
  .accordion .trigger .checkbox i:before, .accordion .trigger .checkbox i:after {
	position: absolute;
	content: '';
	width: 16px;
	height: 3px;
	background-color: white;
	transition: transform 250ms ease;
  }
  .accordion .trigger .checkbox i:before {
	transform: translate(-5px, 8px) rotate(45deg);
  }
  .accordion .trigger .checkbox i:after {
	transform: translate(5px, 8px) rotate(-45deg);
  }
  .accordion .trigger .content {
	position: relative;
	max-height: 1px;
	padding: 0;
	overflow-y: scroll;
	font-size: 14px;
	line-height: 1.5;
	background-color: whitesmoke;
	transition: max-height 500ms ease-in-out;
  }
  .accordion .trigger .content h3 {
	margin: 30px 0 15px 30px;
  }
  .accordion .trigger .content p {
	margin: 0 30px 30px;
  }
  
  #checkbox-1:checked ~ .content,
  #checkbox-2:checked ~ .content,
  #checkbox-3:checked ~ .content {
	max-height: 900px;
	transition: max-height 500ms ease-in-out;
  }
  

  
  table {border-collapse: collapse;}
  .venue{text-align: center;}
  .img__table{text-align: center;}
  .num__table{text-align: center;}
  table thead tr {color: #ffffff; font-weight: bold; background: #00bf80;}
  table tbody tr:nth-child(2n) {background: #f4f4f4;}
  table tbody tr:hover {background: #ebffe8;}
  td>h5{
	  font-weight: bold;
  }
/* ---------------------------------------------- /*
 * Slider  LightBox
/* ---------------------------------------------- */


/* ---------------------------------------------- /*
 * regList
/* ---------------------------------------------- */
.regList>li{
	padding: 5px 0;
	font-size: 18px;
}
.regList2{
	padding-top: 60px;
}
.regList2>li{
	padding: 3px 0;
	font-size: 18px;
}
/* ---------------------------------------------- /*
 * Contact
/* ---------------------------------------------- */

.list2a {
    margin-bottom: 8px;
    padding:0;
    list-style: none;
    counter-reset: li;
}    
.list2a li {
    position: relative;
    border: 2px solid #337AB7;
    background: #EBF3FA;
    padding:16px 20px 16px 28px;
    margin:12px 0 12px 40px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.list2a li:hover {
    background: #FFF;
}
.list2a li:before {
    line-height: 32px;
    position: absolute;
    top: 4px;
    left:-40px;
    width:40px;
    text-align:center;
    font-size: 16px;
    font-weight: bold;
    color: #FFF;
    background: #337AB7;
    counter-increment: li;
    content: counter(li);
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}
.list2a li:hover:before {
    width:46px;
}
.list2a li:after {
    position: absolute;
    left: 0;
    top: 4px;
    content: "";
    height: 0;
    width: 0;
    border: 16px solid transparent;
    border-left-color: #337AB7;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s
}
.list2a li:hover:after {
    margin-left: 6px;
}

/* ---------------------------------------------- /*
 * Footer
/* ---------------------------------------------- */

#footer {
	background: #222;
	text-align: center;
	padding: 40px 0;
	color: #FFF;
}

.copyright {
	margin: 0;
}

.copyright a{
    border-bottom: 1px dotted #fff;
}

#footer span{
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    color: #ff5252;
}

.social-links {
	list-style: none;
	padding: 0;
	margin: 0 0 20px;
}

.social-links li {
	display: inline-block;
	margin: 5px;
}

.social-links a {
	width: 36px;
	height: 36px;
	display: block;
	line-height: 35px;
	text-align: center;
	border: 1px solid rgba(255, 255, 255, .1);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	font-size: 14px;
	color: rgba(255, 255, 255, .2);
}

.social-links a:hover {
	border: 1px solid rgba(255, 255, 255, .5);
	color: rgba(255, 255, 255, .8);
}

/* ---------------------------------------------- /*
 * Navigation
/* ---------------------------------------------- */

.header {
	border-bottom: 1px solid #f5f5f5;
	position: relative;
	width: 100%;
	z-index: 998;
}

.navbar-custom {
	border: 0;
	border-radius: 0;
	margin: 0;
	text-transform: uppercase;
	font-family: 'Roboto Slab', serif;
}

.navbar-custom,
.navbar-custom .dropdown-menu {
	background: #fff;
	padding: 0;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-nav > li > a,
.navbar-custom .navbar-nav .dropdown-menu > li > a {
	font-size: 11px;
	letter-spacing: 3px;
	color: #222;
}
.navbar-brand{	
	position: relative;
	max-height: 60px;
	max-width: 60px;
	
}
.navbar-brand > img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.navbar-custom .nav li.active,
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .navbar-nav > li.active a {
	background: none;
	outline: 0;
	color: #E7746F;
}

.navbar-custom .navbar-brand {
	font-weight: 700;
	font-size: 22px;
    font-family: 'Roboto Slab', serif;
}

.navbar-custom .dropdown-menu {
	border: 0;
	border-top: 2px solid #E7746F;
	border-radius: 0;
}

.navbar-custom .dropdown-menu > li > a {
	padding: 10px 20px;
}

.navbar-custom .nav .open > a,
.navbar-custom .dropdown-menu > li > a:hover,
.navbar-custom .dropdown-menu > li > a:focus {
	background: #f5f5f5;
}

.navbar-custom .navbar-toggle .icon-bar {
	background: #222;
}

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
}

.scroll-up a {
	background-color: rgba(135, 135, 135, 0.5);
	display: block;
	width: 35px;
	height: 35px;
	text-align: center;
	color: #fff;
	font-size: 15px;
	line-height: 30px;
}

.scroll-up a:hover,
.scroll-up a:active {
	background-color: rgba(235, 235, 235, .8);
	color: #e7746f;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 40px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
    text-align: center;
}

.scroll-down span{
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

/* ---------------------------------------------- /*
 * Preloader
/* ---------------------------------------------- */

#preloader {
	background: #FFF;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

#status {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/* ---------------------------------------------- /*
 * Media
/* ---------------------------------------------- */

@media (max-width: 767px) {

	.calltoaction {
		text-align: center;
	}
	.regList>li{
		font-size: 14px;
	}
	.regList2>li{
		font-size: 14px;
	}

}

@media (max-width: 480px) {

	h1 {
		font-size: 34px;
		letter-spacing: 3px;
	}

	h2 {
		font-size: 24px;
		margin: 0 0 30px;
		letter-spacing: 3px;
	}
	.pfblock-title{
		font-size: 20px;
		margin: 0 0 30px;
		letter-spacing: 3px;
	}
	.regList>li{
		font-size: 14px;
	}
	.regList2>li{
		font-size: 14px;
	}

}



